amqp==5.0.2
billiard==3.6.3.0
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
fastapi==0.63.0
fastapi-login==1.5.2
kombu==5.0.2
passlib==1.7.4
prompt-toolkit==3.0.10
pydantic==1.7.3
PyJWT==2.0.0
python-multipart==0.0.5
pytz==2020.5
six==1.15.0
starlette==0.13.6
vine==5.0.0
wcwidth==0.2.5
