<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a fakexels account</title>
    {% load static %}
  
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form method="POST" action="/signup">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password1}}
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
    
        </div>
      </div>
</body>
</html>